.single-comment {
    margin-bottom: 35px;
    display: flex;
    align-items: flex-start;
}

h3 {
    margin: 8px 0 0;
    font-weight: 400;
    font-size: 20px;
}

.profile {
    border-radius: 100%;
    width: 90px;
    height: 90px;
    border:2px solid #508DF9;
}

.cmt {
   width: 50px;
   height: 50px;
   margin-right: 20px;
}

.cmt-name {
    margin: 0;
    font-size: 16px;
}