
.question-container{
    display:flex;
}

.question-area{
    padding: 40px;
    margin-left :60px ;
    width:85%;
}

.ques-form-container{
    width: 44%;
    background-color:#F0F4FA;
    margin-top:10px;
}

.title{
    font-size: 24px;
    font-weight:500;
}