.profile-area {
  width: 85%;
  min-height: 85.6vh;
}
.profile-container {
  display: flex;
}

.profile-area {
  display: flex;
  justify-content: space-evenly;
}

.form-container {
  width: 50%;
  background-color: #f0f4fa;
  height: 76%;
  margin-top: 100px;
}

.profile-card {
  width: 20%;
  background-color: #f0f4fa;
  height: 40%;
  margin-top: 100px;
  width: 30%;
}
