<<<<<<< HEAD
.sidebar {
  width: 15%;
  min-height: 85.6vh;
  background-color: #508df9;
  display: flex;
  justify-content: center;
=======
.sidebar{
    width:15%;
    min-height:85.6vh;
    background-color:#508DF9;
    display: flex;
    justify-content: center;
>>>>>>> cdb027ac8ae3646a330a7115790e701adcdea0e7
}

.content {
  margin-top: 50px;
  width: 75%;
}

.value {
  font-size: 22px;
  color: white;
  margin-top: 33px;
}
